<template>
  <div class="home">
    <b-container fluid class="homepage-wrapper">
      <b-row>
        <b-col cols="2">
          <div style="margin-bottom: 1em;">
            <b-button block variant="info" @click="clickAddButton()">Add New Employee</b-button>
          </div>
          <b-card no-body header="Current Employees">
            <b-list-group flush>
              <b-list-group-item v-for="(emp, index) in this.employees" v-bind:key="index" button @click="selectEmployee(emp)">{{ emp.firstName }} {{ emp.lastName }}</b-list-group-item>
            </b-list-group>
          </b-card>
        </b-col>
        <b-col cols="7" v-if="selectedEmployee">
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-card border-variant="primary" :header="employeeCardHeader" header-bg-variant="primary" header-text-variant="white" align="center">
              <b-card-text>              
                <b-row style="margin-bottom: 0.5em; font-weight: bold;">
                  <b-col style="text-align: left;">
                    Basic Information
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group id="input-group-firstName" label="First Name:" label-for="txtFirstName">
                      <b-form-input @blur="firstNameOnFocus" id="txtFirstName" v-model="form.firstName" placeholder="Enter First Name"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group id="input-group-lastName" label="Last Name:" label-for="txtLastName">
                      <b-form-input id="txtLastName" v-model="form.lastName" placeholder="Enter Last Name"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col style="border-top: 0.2em solid #d9d9d9; margin: 0 1em;"></b-col>
                </b-row>
                <b-row style="margin-top: 0.5em; margin-bottom: 0.5em; font-weight: bold;">
                  <b-col style="text-align: left;">
                    Dependent Information
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group id="input-group-depFirstName" label="First Name:" label-for="txtDepFirstName">
                      <b-form-input id="txtDepFirstName" v-model="depData.firstName" placeholder="Enter First Name"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group id="input-group-depLastName" label="Last Name:" label-for="txtDepLastName">
                      <b-form-input id="txtDepLastName" v-model="depData.lastName" placeholder="Enter Last Name"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group label="Dependent Type">
                      <b-form-radio-group id="radio-group-2" v-model="depData.depType" name="radio-sub-component">
                        <b-form-radio value="1">Spouse</b-form-radio>
                        <b-form-radio value="0">Child</b-form-radio>
                      </b-form-radio-group>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-button-group>
                      <b-button variant="success" @click="addDependent(depData)">Add</b-button>
                    </b-button-group>
                  </b-col>
                </b-row>
                <b-row v-for="(dep, index) in this.form.dependents" v-bind:key="index">
                  <b-col>
                    {{ dep.firstName }} {{ dep.lastName }} - {{ depTypeTranslation(dep.depType) }} <b-badge @click="deleteDependent(index)" class="deleteDepBtn">Delete</b-badge>
                  </b-col>
                </b-row>              
              </b-card-text>
              <template v-slot:footer>
                <div style="text-align: left">
                <b-button type="submit" variant="success" style="margin-right: 0.9em">Save</b-button>
                <b-button type="reset" variant="danger">Cancel</b-button>
                </div>
              </template>
            </b-card>
          </b-form>
        </b-col>
        <b-col cols="7" v-if="!selectedEmployee">
          Please select an Employee or Add a New Employee to continue.
        </b-col>
        <b-col>
          <b-card border-variant="primary" header="Cost Information" header-bg-variant="primary" header-text-variant="white" align="center">
            <b-card-text>
              <b-row style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Total Employee Cost:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.totalEmployeeCost }}
                </b-col>
              </b-row>              
              <b-row style="margin-top: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Total Dependent Cost:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.totalCostOfDependents }}
                </b-col>
              </b-row>
              <b-row style="margin-top: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Total Discount:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.totalDiscount }}
                </b-col>
              </b-row>
              <b-row>
                <b-col style="border-top: 0.2em solid #d9d9d9; margin: 0 1em;"></b-col>
              </b-row>
              <b-row style="margin-top: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Total Cost:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.totalCost }}
                </b-col>
              </b-row>
              <b-row>
                <b-col style="border-top: 0.2em solid black; margin: 1em 1em;"></b-col>
              </b-row>
              <b-row style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Base Paycheck:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.basePaycheck }}
                </b-col>
              </b-row>
              <b-row style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Base Yearly Paycheck:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.baseYearlySalary }}
                </b-col>
              </b-row>
              <b-row style="margin-top: 0.5em; margin-bottom: 0.5em;">
                <b-col style="text-align: left; font-weight: bold;">
                  Yearly Salary w/ Cost:
                </b-col>
                <b-col style="text-align: left;">
                  {{ benefitCalcData.yearlySalary }}
                </b-col>
              </b-row>    
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>    
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  name: 'home',
  components: {},
  data() {
    return {
      employees: [],
      selectedEmployee: null,
      employeeCardHeader: 'Employee Information',
      form: {
        firstName: '',
        lastName: '',
        dependents: [],
        paycheck: {}
      },
      depData: {
        firstName: '',
        lastName: '',
        depType: null
      },
      benefitCalcData: {
        totalCost: 'N/A',
        totalEmployeeCost: 'N/A',
        totalCostOfDependents: 'N/A',
        totalDiscount: 'N/A',
        basePaycheck: 'N/A',
        baseYearlySalary: 'N/A',
        yearlySalary: 'N/A'
      },
      show: true
    }
  },
  methods: {
    depTypeTranslation(data) {
      if (data === 0 || data === '0') {
        return 'Child';
      } else if (data === 1 || data === '1') {
        return 'Spouse';
      } else {
        return 'N/A'
      }
    },
    firstNameOnFocus(evt) {
      this.callCalculationCode(this.form);
    },
    selectEmployee(emp) {
      this.form.id = emp.id;
      this.form.firstName = emp.firstName;
      this.form.lastName = emp.lastName;
      this.form.dependents = Vue.CloneObject(emp.dependents);
      this.callCalculationCode(emp);
      this.selectedEmployee = emp;
    },
    clickAddButton() {      
      this.clearFormFields();
      this.selectEmployee({
        firstName: '',
        lastName: '',
        dependents: [],
        paycheck: {}
      })
    },
    addDependent(dep) {
      this.form.dependents.push(Vue.CloneObject(dep));
      this.callCalculationCode(this.form);
      this.clearAddDependents();
    },
    deleteDependent(index) {
      this.form.dependents.splice(index, 1);
      this.callCalculationCode(this.form);
    },
    onSubmit(evt) {
      evt.preventDefault()
      let self = this;

      // this is bad, need to deal with the depenedent type being a string at this point in time.  Probably need to deal with this in the API
      // code.  Need to use a ViewModel so this property is a string and then in the translator, convert it to the correct Enum value.
      this.form.dependents.forEach(dep => {
        dep.depType = parseInt(dep.depType);
      });
      
      Vue.http.post('Benefit', this.form).then(function (res) {
        self.writeToEmployeeData(res.data);
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.clearFormFields();
      this.selectedEmployee = null;
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    callCalculationCode(data) {
      let benefitTotals = Vue.CalculateBenefit(data);
      this.setBenefitCalculationFields(benefitTotals);
    },
    setBenefitCalculationFields(benefitTotals) {
      this.benefitCalcData.totalCost = '$' + benefitTotals.totalCost;
      this.benefitCalcData.totalEmployeeCost = '$' + benefitTotals.totalEmployeeCost;
      this.benefitCalcData.totalCostOfDependents = '$' + benefitTotals.totalCostOfDependents;
      this.benefitCalcData.totalDiscount = '$' + benefitTotals.totalDiscount;
      this.benefitCalcData.basePaycheck = '$' + benefitTotals.basePaycheck;
      this.benefitCalcData.baseYearlySalary = '$' + benefitTotals.baseYearlySalary;
      this.benefitCalcData.yearlySalary = '$' + benefitTotals.yearlySalary;

      this.form.paycheck.totalCost = parseFloat(benefitTotals.totalCost);
      this.form.paycheck.totalEmployeeCost = parseFloat(benefitTotals.totalEmployeeCost);
      this.form.paycheck.totalCostOfDependents = parseFloat(benefitTotals.totalCostOfDependents);
      this.form.paycheck.totalDiscount = parseFloat(benefitTotals.totalDiscount);
      this.form.paycheck.basePaycheck = parseFloat(benefitTotals.basePaycheck);
      this.form.paycheck.baseYearlySalary = parseFloat(benefitTotals.baseYearlySalary);
      this.form.paycheck.yearlySalary = parseFloat(benefitTotals.yearlySalary);
    },
    clearFormFields() {
      this.form.firstName = '';
      this.form.lastName = '';
      this.form.dependents = [];
      this.form.paycheck = {};
      this.clearAddDependents();
      this.benefitCalcData.totalCost = 'N/A';
      this.benefitCalcData.totalEmployeeCost = 'N/A';
      this.benefitCalcData.totalCostOfDependents = 'N/A';
      this.benefitCalcData.totalDiscount = 'N/A';
      this.benefitCalcData.basePaycheck = 'N/A';
      this.benefitCalcData.baseYearlySalary = 'N/A';
      this.benefitCalcData.yearlySalary = 'N/A';
    },
    clearAddDependents() {
      this.depData.firstName = '';
      this.depData.lastName = '';
      this.depData.depType = '';
    },
    writeToEmployeeData(emp) {
      let empData = {
        id: emp.id,
        firstName: emp.firstName,
        lastName: emp.lastName,
        paycheck: emp.paycheck,
        dependents: []
      };

      emp.dependents.forEach(dep => {
        empData.dependents.push({
          id: dep.id,
          firstName: dep.firstName,
          lastName: dep.lastName,
          depType: dep.depType,
          employeeId: dep.employeeId
        })
      });
      
      this.employees.push(empData);
    }
  },
  beforeMount() {
    let self = this;
    Vue.http.get('Benefit').then(function (res) {
      res.data.forEach(emp => {
        self.writeToEmployeeData(emp);
      });
    })
    .catch(function (error) {
      console.log(error);
    });
  }
}
</script>

<style>
  .home {
    margin: 1em;
  }

  .d-block {
    text-align: left;
  }

  .deleteDepBtn {
    cursor: pointer;
  }
</style>
